{% load i18n static %}{% spaceless %}
    <a
        href="https://www.facebook.com/groups/pythonista/"
        class="body-footer__badge"
        target="_blank" rel="noopener noreferrer"
    >
        <svg role="img">
            <title>{% trans "Facebook" %}</title>
            <use href="#icon-facebook" />
        </svg>
    </a>
    <a
        href="https://www.youtube.com/c/Pythonista"
        class="body-footer__badge"
        target="_blank" rel="noopener noreferrer"
    >
        <svg role="img">
            <title>YouTube</title>
            <use href="#icon-youtube" />
        </svg>
    </a>
    <!--<a
        href="https://twitter.com/@funmooc"
        class="body-footer__badge"
        target="_blank" rel="noopener noreferrer"
        title="{% comment %}{% trans "Twitter page" %}{% endcomment %}"
    >
        <svg role="img">
            <title>{% comment %}{% trans "Twitter" %}{% endcomment %}</title>
            <use href="#icon-twitter" />
        </svg>
    </a>
    <a
        href="https://www.linkedin.com/school/franceuniversitenumerique/"
        class="body-footer__badge"
        target="_blank" rel="noopener noreferrer"
        title="{% comment %}{% trans "Linkedin" %}{% endcomment %}"
    >
        <svg role="img">
            <title>{% comment %}{% trans "Linkedin" %}{% endcomment %}</title>
            <use href="#icon-linkedin" />
        </svg>
    </a>-->
{% endspaceless %}
